.header{
    padding: 5px 120px;
    width: 150px;
    height: 30px;
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid #403F3B;
    border-radius: 0px;
    background-color: #E6E3D3;
}

.btn {
    padding: 10px 40px;
    background-color: #BFBDB0;
    color: #403F3B;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
}

.textbox{
    padding: 10px 40px;
    background-color: #BFBDB0;
    border-radius: 10px;
}
    
::placeholder {
    color: #403F3B;
    opacity: 1;
    font-style: normal;
    font-weight: bold;
}

.word{
    color: #403F3B;
    font-style: normal;
    font-weight: bold;
}

.bottom{
    color: #c77e01;
    font-style: normal;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }