<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h2 class="word">Your Existing Orders</h2>
			</div></br></br></br>
                <table>
                    <tr>
                        <th>Order ID</th>
                        <th>Product ID</th>
                        <th>User ID</th>
                        <th>Quantity Ordered</th>
                        <th>Status</th>
                    </tr>
                    {% for item in data %}
                    <!-- Only displays the orders assigned to the current userid -->
                        {% if item.userid == sessionid %} 
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.productid}}</td>
                                <td>{{item.userid}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.status}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                </br></br></br>
				<a href="{{ url_for('regularlanding') }}" class="btn">Back</a>
		</div>
		</div>
	</body>
</html>